@use "./variables" as *;

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin card($bg-color: #f0f4f8) {
  background-color: #f0f4f8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
}

@mixin heading($size: 1.5rem, $weight: 600, $font: $font-primary) {
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
  color: $text-primary;
}

@mixin baseButton($height: 54px) {
  width: 250px;
  height: $height;
  color: white;
  background-color: $bg-blue;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: ease-in 0.2s;

  &:hover {
    background-color: #8f89ff;
    transition: ease-out 0.2s;
  }
}
