$bg-primary: #ffffff;
$bg-secondary: #efefef; // Cards / Panels
$bg-tertiary: #dcdcdc; // Alternate sections / hover backgrounds
$bg-blue: #6c63ff;

$border-light: #bdbdbd;
$border-dark: #7c7c7c;

// Text
$text-primary: #3d3d3d;
$text-secondary: #525252;
$text-disabled: #656565;

$shadow-color: #292929; // For shadows or very dark UI parts

// Utility
$gray-50: #ffffff;
$gray-100: #efefef;
$gray-200: #dcdcdc;
$gray-300: #bdbdbd;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-600: #656565;
$gray-700: #525252;
$gray-800: #464646;
$gray-900: #3d3d3d;
$gray-950: #292929;

$font-primary: "Inter", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-body: "Roboto", sans-serif;
$font-condensed: "Roboto Condensed", sans-serif;
