<main>
  <section id="hero-sec">
    <div class="hero-content">
      <h1>Smart Inventory. Simple Control.</h1>
      <p>
        Track stock levels, manage products, and streamline your inventory — all
        in one place.
      </p>
    </div>
  </section>

  <section id="features-sec">
    <div class="features-content">
      <h2>Why Use Our Inventory Tool?</h2>
      <p>
        Designed for small businesses and entrepreneurs, our tool simplifies
        inventory tracking, boosts efficiency, and puts real-time insights at
        your fingertips.
      </p>
    </div>

    <div class="feature-card">
      <div class="feature-data">
        <div class="feature-title">Real-Time Inventory Tracking</div>
        <div class="feature-content">
          <p>
            Automatically update stock levels when you add or sell products.
          </p>
        </div>
      </div>
      <div class="image-sec">
        <img src="../../../assets/images/stock.svg" alt="" />
      </div>
    </div>

    <div class="feature-card">
      <div class="feature-data">
        <div class="feature-title">Smart Cost & Profit Calculation</div>
        <div class="feature-content">
          <p>
            Instantly see item costs, revenue, and total value based on quantity
            and price.
          </p>
        </div>
      </div>
      <div class="image-sec">
        <img src="../../../assets/images/profit-analitycs.svg" alt="" />
      </div>
    </div>

    <div class="feature-card">
      <div class="feature-data">
        <div class="feature-title">Visual Dashboard</div>
        <div class="feature-content">
          <p>
            View key stats and summaries in a clear, easy-to-read interface.
          </p>
        </div>
      </div>
      <div class="image-sec">
        <img src="../../../assets/images/ui.svg" alt="" />
      </div>
    </div>
  </section>

  <section id="cta-sec">
    <div class="cta-content">
      <h2>Start Managing Your Inventory Smarter Today</h2>
      <button routerLink="/auth">Get Started</button>
    </div>
  </section>
</main>
