@use "../../scss/variables" as *;

main {
  width: 100%;
  background-color: $bg-primary;

  #hero-sec {
    width: 100%;
    height: 550px;
    background-color: $bg-tertiary;
    place-content: center;
    justify-items: center;
    position: relative;

    &::after {
      width: 100%;
      height: 170px;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba($bg-tertiary, 0) 0%,
        rgba($bg-primary, 1) 100%
      );
      pointer-events: none;
    }

    .hero-content {
      width: 70%;
      font-family: $font-primary;
      font-size: clamp(1.5rem, 2vw, 1.25rem);
      text-align: center;

      animation: fadeInUp 0.8s ease-out forwards;
      animation-delay: 0.2s;
      opacity: 0;
      transform: translateY(40px);
    }
  }

  #features-sec {
    width: 75%;
    height: fit-content;
    justify-self: center;
    background-color: $bg-primary;
    font-family: $font-primary;
    color: $text-primary;

    display: flex;
    flex-direction: column;
    gap: 25px;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s;

    .features-content {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.6;
      }
    }

    .feature-card {
      max-width: 100%;
      background-color: $bg-secondary;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 14px;
      box-shadow: 0 6px 16px rgba($shadow-color, 0.06);

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .image-sec {
        img {
          width: 100%;
          height: 250px;
        }
      }

      .feature-data {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .feature-title {
          font-size: 26px;
          font-weight: 600;
          color: $text-primary;
        }

        .feature-content {
          width: 75%;
          font-size: 20px;
        }
      }
    }
  }

  #cta-sec {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 40px;

    .cta-content {
      justify-self: center;
      text-align: center;
      place-content: center;
      font-family: $font-primary;

      h1 {
        font-size: 26px;
        font-weight: 600;
        color: $text-primary;
      }

      button {
        width: 250px;
        height: 54px;
        color: white;
        background-color: $bg-blue;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        transition: ease-in 0.2s;

        &:hover {
          background-color: #8f89ff;
          transition: ease-out 0.2s;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  main {
    #features-sec {
      .feature-card {
        justify-content: center;
        gap: 15px;

        .feature-data {
          text-align: center;

          .feature-content {
            width: auto;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
