@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

main {
  width: 100%;
  display: flex;
  // box-sizing: border-box;
  // padding: 15px;
  gap: 15px;

  .side-panel {
    width: 200px;
    overflow-y: auto;
  }

  .dashboard-content {
    flex: 1;
    height: 100%;
    position: relative;
  }
}

@media (max-width: 650px) {
  main {
    .side-panel {
      width: 50px;
    }
  }
}
